<h2 class="page-header" style="margin-top:5px">Committees</h2>
<div style="width=100%;background-color:white">
    <ul class="nav nav-tabs">
        <li class="active" style="margin:0px;"><a data-toggle="tab" href="#comByHouse" style="color:black;">House</a></li>
        <li style="margin:0px;"><a data-toggle="tab" href="#comBySenate" style="color:black;">Senate</a></li>
        <li style="margin:0px;"><a data-toggle="tab" href="#comByJoint" style="color:black;">Joint</a></li>
    </ul>
    <div style="width:96%;margin-left:2%;margin-top:2%;" >
        <div class="tab-content">
            <div id="comByHouse" class="tab-pane fade in active">
                <div class="row well well-sm" style="paddiing:0px;margin:0px;">
                    <div class="col-xs-6 col-sm-9"><b>House</b></div>
                    <div class="col-xs-6 col-sm-3 pull-right">
                        <input type="text" class="form-control" ng-model="committeeIdByHouse" placeholder="Search">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" frame="box" bordercolor="#f5f5f5">
                        <tr><th></th><th>Chamber</th><th>Committee ID</th><th>Name</th><th>Parent Committee</th><th>Contact</th><th>Office</th></tr>
                        <tr dir-paginate="x in committeesByHouse | committeeFilter: committeeIdByHouse | orderBy: 'committee_id' | itemsPerPage: 10" current-page="currentPageCommitteeHouse" pagination-id="committee-house-table">
                            <td>
                                <button class="btn btn-default my-button pull-left" type="button" ng-click="toggleFavorite(x)">
                                    <i class="{{ favoriteIconClassName(x) }}" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td><img style="width:30px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                            <td>{{ committee_id(x) }}</td>
                            <td>{{ committee_name(x) }}</td>
                            <td>{{ parent_committee_id(x) }}</td>
                            <td>{{ committee_phone(x) }}</td>
                            <td>{{ committee_office(x) }}</td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="committee-house-table"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div id="comBySenate" class="tab-pane fade">
                <div class="row well well-sm" style="paddiing:0px;margin:0px;">
                    <div class="col-xs-6 col-sm-9"><b>Senate</b></div>
                    <div class="col-xs-6 col-sm-3 pull-right">
                        <input type="text" class="form-control" ng-model="committeeIdBySenate" placeholder="Search">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" frame="box" bordercolor="#f5f5f5">
                        <tr><th></th><th>Chamber</th><th>Committee ID</th><th>Name</th><th>Parent Committee</th></tr>
                        <tr dir-paginate="x in committeesBySenate | committeeFilter: committeeIdBySenate | orderBy: 'committee_id' | itemsPerPage: 10" current-page="currentPageCommitteeSenate" pagination-id="committee-senate-table">
                            <td>
                                <button class="btn btn-default my-button pull-left" type="button" ng-click="toggleFavorite(x)">
                                    <i class="{{ favoriteIconClassName(x) }}" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td><img style="width:30px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                            <td>{{ committee_id(x) }}</td>
                            <td>{{ committee_name(x) }}</td>
                            <td>{{ parent_committee_id(x) }}</td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="committee-senate-table"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div id="comByJoint" class="tab-pane fade">
                <div class="row well well-sm" style="paddiing:0px;margin:0px;">
                    <div class="col-xs-6 col-sm-9"><b>Joint</b></div>
                    <div class="col-xs-6 col-sm-3 pull-right">
                        <input type="text" class="form-control" ng-model="committeeIdByJoint" placeholder="Search">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" frame="box" bordercolor="#f5f5f5">
                        <tr><th></th><th>Chamber</th><th>Committee ID</th><th>Name</th></tr>
                        <tr dir-paginate="x in committeesByJoint | committeeFilter: committeeIdByJoint | orderBy: 'committee_id' | itemsPerPage: 10" current-page="currentPageCommitteeJoint" pagination-id="committee-Joint-table">
                            <td>
                                <button class="btn btn-default my-button pull-left" type="button" ng-click="toggleFavorite(x)">
                                    <i class="{{ favoriteIconClassName(x) }}" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td><img style="width:30px" ng-src="{{chamberLogo(x.chamber) }}">Joint</td>
                            <td>{{ committee_id(x) }}</td>
                            <td>{{ committee_name(x) }}</td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="committee-Joint-table"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>                
</div>
