<h2 class="page-header" style="margin-top:5px">Favorites</h2>
<div style="width=100%;background-color:white;">
    <ul class="nav nav-tabs">
        <li class="active" style="padding-left:2px;padding-right:2px;margin:0px;"><a data-toggle="tab" href="#favoriteLegislator" style="padding-left:7px;padding-right:7px;color:black;">Legislators</a></li>
        <li style="padding:0px;margin:0px;"><a data-toggle="tab" href="#favoriteBill" style="padding-left:7px;padding-right:7px;color:black;">Bills</a></li>
        <li style="padding:0px;margin:0px;"><a data-toggle="tab" href="#favoriteCommittee" style="padding-left:7px;padding-right:7px;color:black;">Committees</a></li>
    </ul>
    <div style="width:96%;margin-left:2%;margin-top:2%;" >
        <div class="tab-content">
            <div id="favoriteLegislator" class="tab-pane fade in active">
                <div class="row well well-sm" style="paddiing:0px;margin:0px;">
                    <b>Favorite Legislators</b>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" frame="box" bordercolor="#f5f5f5">
                        <tr><th></th><th>Image</th><th>Party</th><th>Name</th><th>Chamber</th><th>State</th><th>Email</th><th></th></tr>
                        <tr ng-repeat="x in legislators | favoriteLegislator: true ">
                            <td>
                                <button class="btn btn-default pull-left" type="button" ng-click="toggleFavorite(x)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td><img class="img-responsive" style="margin:0 auto;width:30px" ng-src="{{ getImage(x) }}"></td>
                            <td><img style="width:20px" ng-src="{{ partyLogo(x.party)}}"></td>
                            <td>{{ x.last_name + ", " + x.first_name}}</td>
                            <td><img style="width:20px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                            <td>{{ x.state_name }}</td>
                            <td><a target="_blank" ng-href="mailto:{{ getEmail(x) }}">{{getEmail(x)}}</a></td>
                            <td><button type="button" class="btn btn-primary" ng-click="goBackViewDetails(x)">View Details</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="favoriteBill" class="tab-pane fade in">
                <div class="row well well-sm" style="paddiing:0px;margin:0px;">
                    <b>Favorite Bills</b>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" frame="box" bordercolor="#f5f5f5">
                        <tr><th></th><th>Bill ID</th><th>Bill Type</th><th>Title</th><th>Chamber</th><th>Introduced On</th><th>Sponsor</th><th></th></tr>
                        <tr ng-repeat="x in bills | favoriteBill: true">
                            <td>
                                <button class="btn btn-default pull-left" type="button" ng-click="toggleFavorite(x)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>{{ x.bill_id | uppercase}}</td>
                            <td>{{ x.bill_type | uppercase }}</td>
                            <td>{{ x.official_title }}</td>
                            <td><img style="width:20px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                            <td>{{ x.introduced_on }}</td>
                            <td>{{ x.sponsor.title + ". " + x.sponsor.last_name + ", " + x.sponsor.first_name }}</td>
                            <td><button type="button" class="btn btn-primary" ng-click="goBackViewBillsDetails(x)">View Details</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="favoriteCommittee" class="tab-pane fade in">
                <div class="row well well-sm" style="paddiing:0px;margin:0px;">
                    <b>Favorite Committees</b>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" frame="box" bordercolor="#f5f5f5">
                        <tr><th></th><th>Chamber</th><th>Committee ID</th><th>Name</th><th>Parent Committee</th><th>Sub Committee</th></tr>
                        <tr ng-repeat="x in committees | favoriteCommittee: true">
                            <td>
                                <button class="btn btn-default pull-left" type="button" ng-click="toggleFavorite(x)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td><img style="width:20px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                            <td>{{ committee_id(x) }}</td>
                            <td>{{ committee_name(x) }}</td>
                            <td>{{ parent_committee_id(x) }}</td>
                            <td>{{ sub_committee(x) }}</td>
                        </tr>
                    </table>
                    <div>
            </div>
        </div>
    </div>
</div>
