div.fixed {
    position: fixed;
    top: 1;
    left:5;
    width: 100%;
    height: 39px;
    z-index: 100;
    background-color:white;
}
.sidebar {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2a2c30;
    border-right: 1px solid #eee;
}
.nav-tabs > li > a {
    color: #d4d4d6;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.deleteBar:hover {
    color: red;
}

.my-sidebar li a {
    text-decoration: none;
    color: #999999;
}

.my-sidebar li a:active,
.my-sidebar li a:focus {
    text-decoration: none;
    color: white;
}

.my-nav-item {
    display: blcok;
    margin-left: 5px;
}
.center {
    text-align: center;
}

.white {
    color: white;
}

.whiteGrey {
    color: #e0e1e2;
}

.my-star-on {
    text-shadow: -1px -1px 0 #888,  1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
    font-size: 18px;
    color: yellow;
}

.my-star-off {
    text-shadow: -1px -1px 0 #888,  1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
    font-size: 18px;
    color: white;
}
.hide-small {
}
.small-center{
}
.my-nav-icon {
    text-align:left;
    margin-top:35px;
    margin-bottom:35px;
    margin-right:10px; 
    text-decoration:none;
}
.panel-margin {
    width:96%;
    margin-left:2%;
    margin-top:2%;
    margin-bottom:2%;
}
.panel-body-padding {
    background-color:white;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    margin:0px;
}

.zero-margin-small{
}
.side-bar-style {
    z-index: 100;
    width:17%;
    height:100%;
    margin-right:0px;
    padding-right:0px;
    padding-left:10px;
    background-color:#2a2c30;
    position:fixed;
}
@media (max-width: 600px) {
    .panel-body-padding {
        padding:0px;
    }
    .panel-margin {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .zero-margin-small {
        margin-left: 0px;
        margin-right: 0px;
    }
    .my-nav-item {
        display: none;
    }
    .small-center{
        text-align: center;
    }
    .hide-small {
        display: none;
    }
    .my-nav-icon {
        text-align: center;
        margin-top:20px;
        margin-bottom:20px;
    }
}
