<h2 class="page-header" style="margin-top:5px">Legislators</h2>
<div style="width=100%;background-color:white">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="item1 active"></li>
            <li class="item2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#state">By State</a></li>
                    <li><a data-toggle="tab" href="#house">House</a></li>
                    <li><a data-toggle="tab" href="#senate">Senate</a></li>
                </ul>
                <div style="width:96%;margin-left:2%;margin-top:2%;" >
                    <div class="tab-content">
                        <div id="state" class="tab-pane fade in active">
                            <table class="table table-hover">
                                <tr>
                                    <td colspan="6" class="well well-sm">
                                        <b>Legislators By State</b>
                                        <div class="pull-right">
                                            <select class="form-control" ng-model="selected" ng-init="selected='All States'" ng-options="opt for opt in stateOptions">
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr><th>Party</th><th>Nmae</th><th>Chamber</th><th>District</th><th>State</th><th></th></tr>
                                <tr dir-paginate="x in legislators | stateFilter: selected | itemsPerPage: 10 | orderBy:'last_name' | orderBy: 'state_name'" current-page="legislatorCurrentPage" pagination-id="state-table">
                                    <td><img style="width:30px" ng-src="{{ partyLogo(x.party) }}"></td>
                                    <td>{{ x.first_name + ", " + x.last_name}}</td>
                                    <td><img style="width:30px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                                    <td>{{ districtNum(x.district) }}</td>
                                    <td>{{ x.state_name }}</td>
                                    <td><button type="button" class="btn btn-primary" ng-click="clickViewDetails(x)" >View Details</button></td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="state-table"></dir-pagination-controls>
                            </div>
                        </div>
                        <div id="house" class="tab-pane fade">
                            <table class="table table-hover">
                                <tr>
                                    <td colspan="6" class="well well-sm">
                                        <b>Legislators By House</b>
                                        <div class="pull-right">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr><th>Party</th><th>Nmae</th><th>Chamber</th><th>District</th><th>State</th><th></th></tr>
                                <tr dir-paginate="x in legislatorsByHouse | itemsPerPage: 10 | orderBy:'last_name' | orderBy: 'state_name'" current-page="legislatorCurrentPage" pagination-id="house-table">
                                    <td><img style="width:30px" ng-src="{{ partyLogo(x.party) }}"></td>
                                    <td>{{ x.first_name + ", " + x.last_name}}</td>
                                    <td><img style="width:30px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                                    <td>{{ districtNum(x.district) }}</td>
                                    <td>{{ x.state_name }}</td>
                                    <td><button type="button" class="btn btn-primary" ng-click="clickViewDetails(x)" >View Details</button></td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="house-table"></dir-pagination-controls>
                            </div>
                        </div>
                        <div id="senate" class="tab-pane fade">
                            <table class="table table-hover">
                                <tr>
                                    <td colspan="6" class="well well-sm">
                                        <b>Legislators By House</b>
                                        <div class="pull-right">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr><th>Party</th><th>Nmae</th><th>Chamber</th><th>District</th><th>State</th><th></th></tr>
                                <tr dir-paginate="x in legislatorsBySenate | itemsPerPage: 10| orderBy:'last_name' | orderBy: 'state_name'" current-page="legislatorCurrentPage" pagination-id="senate-table">
                                    <td><img style="width:30px" ng-src="{{ partyLogo(x.party) }}"></td>
                                    <td>{{ x.first_name + ", " + x.last_name}}</td>
                                    <td><img style="width:30px" ng-src="{{chamberLogo(x.chamber) }}">{{" " + chamberName(x.chamber) }}</td>
                                    <td>{{ districtNum(x.district) }}</td>
                                    <td>{{ x.state_name }}</td>
                                    <td><button type="button" class="btn btn-primary" ng-click="clickViewDetails(x)" >View Details</button></td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="senate-table"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-sm-12 col-md-12">
                <div class="row" style="margin-bottom:0px;">
                    <div class="pull-left" style="margin-bottom:5px;margin-top:5px;margin-left:5px">
                        <button class="btn btn-default my-button pull-left" type="button" ng-click="goBack()">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button><span style="font-size:25px">Details</span>
                    </div>
                    <div class="pull-right" style="margin-bottom:5px;margin-top:5px;margin-right:5px">
                        <button class="btn btn-default my-button pull-left" type="button" ng-click="goBack()">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <hr style="margin-top:5px;margin-bottom:0px;">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-5 col-md-5">
                        <table class="table" style="width:100%">
                            <tr><td colspan="2" rowspan="5"><img class="img-responsive" style="margin:0 auto;width:150px" ng-src="{{ img_src }}"></td>
                                <td colspan="2">{{ name }}</td>
                            </tr>
                            <tr><td colspan="2"><a target="_blank" ng-href="{{ email }}">{{ email }}</a></td></tr>
                            <tr><td colspan="2">{{ "Chamber: " + chamber }}</td></tr>
                            <tr><td colspan="2">Contact:<a target="_blank" ng-href={{ contact }}>{{" " +  contact }}</a></td></tr>
                            <tr><td colspan="2"><img style="width:20px" ng-src="{{ partyLogoImg }}">{{ " " + partyName }}</td></tr>
                            <tr><td><b>Start Term</td><td colspan="3">{{ startTerm }}</td></tr>
                            <tr><td><b>End Term</td><td colspan="3">{{ endTerm }}</td></tr>
                            <tr><td><b>Term</td>
                                <td colspan="3">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{ percent }}%">
                                            {{ percent + "%"}} 
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr><td><b>Office</td><td colspan="2">{{ office }}</td></tr>
                            <tr><td><b>State</td><td colspan="2">{{ state }}</td></tr>
                            <tr><td><b>Fax</td><td colspan="2">{{ fax }}</td></tr>
                            <tr><td><b>Birthday</td><td colspan="2">{{ birthday }}</td></tr>
                            <tr><td><b>Social Links</td><td colspan="2">
                                    <div class="row">
                                    <a class="col-sm-2 col=md-2" target="_blank" ng-href="{{ twitterAddress }}"><img class="img-responsive" style="width:30px;" ng-src="{{ twitterImg }}"></a>
                                    <a class="col-sm-2 col=md-2" target="_blank" ng-href="{{ facebookAddress }}"><img class="img-responsive" style="width:30px;" ng-src="{{ facebookImg }}"></a>
                                    <a class="col-sm-2 col=md-2" target="_blank" ng-href="{{ website }}"><img class="img-responsive" style="width:30px;" ng-src="{{ websiteImg }}"></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-7 col-md-7" >
                        <h4 style="margin-top:0px;margin-bottom:0px;">Committees</h4>
                        <table class="table" style="margin-top:5px;margin-bottom:0px;">
                            <tr><th>Chamber</th><th>Committee ID</th><th>Name</th></tr>
                            <tr ng-repeat="x in legislatorCommittees" ng-if="$index < 5">
                                <td>{{ chamberName(x.chamber) }}</td>
                                <td>{{ x.committee_id }}</td>
                                <td>{{ x.name }}</td>
                            </tr>
                        </table>
                        <h4>Bills</h4>
                        <table class="table" style="margin-top:5px;margin-bottom:0px;">
                            <tr><th>Bill ID</th><th>Title</th><th>Chamber</th><th>Bill Type</th><th>Congress</th><th>Link</th></tr>
                            <tr ng-repeat="x in legislatorBills" ng-if="$index < 5">
                                <td>{{ x.bill_id | uppercase }}</td>
                                <td>{{ x.official_title }}</td>
                                <td>{{ chamberName(x.chamber) }}</td>
                                <td>{{ x.bill_type }}</td>
                                <td>{{ x.congress }}</td>
                                <td><a target="_blank" ng-href="{{ x.last_version.urls.pdf }}">Link</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

